body{
  margin-top:30px;
  background-image:url('/img/book.jpg');
  background-size:cover no-repeat;
  font-family: 'Raleway', sans-serif;
}

#greeting{
  box-shadow: 20px;
  margin: 0% 35%;
  font-size:20px;
  text-align:center;
  border-radius:1px;
  border: 1px groove transparent;
  background-color: #EFEFEF;
  width: 25%;
}



.glyphicon-home:before{
  margin-right:5px;
}

.glyphicon-user:before{
  margin-right:5px;
}

#login-nav input{
  margin-bottom: 15px;
}




#welcome{
  text-align:center;
}
