@import url(http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister);

body{
  font-size:18px;
  margin-top:30px;
  background-image:url('/img/book.jpg');
  background-size:cover no-repeat;
  font-family: 'Raleway', sans-serif;

  #greeting{
    margin: 0% 35%;
    text-align:center;
    width: 25%;

    #welcome{
      font-size:25px;
    }
    #theOne{
      position:relative;
      bottom:20px;
      font-size: 60px;
      font-family: 'Love Ya Like A Sister', cursive;
    }
  }

  #text-wrap{
    padding:0px 5px;
    background-color:rgba(125, 100, 80, 0.1);
  }

  #select{
    // padding: 7px 0px;
    border:none;
    height:34px;
    vertical-align:top;
  }
}

.well{
  resize:none;
}


#table{
  border-color:rgba(50,50,50,.5);
  background-color:#FEFEFE;
  text-align:center;
  #thead{
    th{
      font-size:45px;
      text-align:center;
      width:50%;
    }
  }
}

//teacher dashboard
#createCourse{
  position:relative;
  left:5%;
  height:150px;
  width:50%;
  input#courseName{
    position:absolute;
    top:20%;
    left:5%;
  }
  textarea#text{
    height:66%;
    position:absolute;
    top:20%;
    right:10%;
  }
  button#addCourse{
    position:absolute;
    bottom:15%;
    left:8%
  }
}
#existingCourses{
  width:80%;
}



#courseTable{
  border: 1px solid black;
  background-color:#FEFEFE;
  width:70%;
  thead{
    th{
      font-size:24px;
      text-align:center;
    }
  }
  tbody{
    td{

      padding-left:15px;
    }
  }
  #bookmark{
    float:right;
  }
}



#specifity.well{
  position:relative;
  height:10em;
  margin-left:10%;
  margin-right:10%;
  width:80%;
  .sideA{
    width:35%;
    position:absolute;
    left:10%;
  }
  .sideB{
    width:40%;
    position:absolute;
    right:10%;
  }
  #submit{
    position:absolute;
    bottom:10px;
    left:10%;
    margin-bottom:10px;
  }
}

#email{
  width:30%;
}

#password{
  width:30%;
}


.glyphicon-home:before{
  margin-right:5px;
}

.glyphicon-user:before{
  margin-right:5px;
}

.glyphicon-th-list:before{
  margin-right:5px;
}

#login-nav input{
  margin-bottom: 15px;
}




#welcome{
  text-align:center;
}
