extends ../shared/template

block content
  h1 Teacher half ass dashboard
  span= user.email
  a(href='/courses/create') create a new course

  table#courses
    thead
      tr
        th Course Name
        th other thing
    tbody
      tr
        td
        td




block scripts
  script(src='/js/es6/compiled/teachers.js')
