extends ../shared/template

block content
  h1= user.email


  form.well.well-lg#createCourse(method='post', action='/courses/create')
      input#courseName.well.well-sm(type='text', placeholder='Course Title', name = 'title', autofocus= true)
      textarea#text.well.well-sm(placeholder='Course Description', name='description')
      button#addCourse Create New Course

  #existingCourses.well



block scripts
  script(src='/js/es6/compiled/teachers.js')
