extends ../shared/template

block content
  h1= user.email
  a#addCourse(href='/courses/create') Create Course

  #courseForm

  #existingCourses


block scripts
  script(src='/js/es6/compiled/teachers.js')
