extends ../shared/template

block content
  #greeting
    h1#welcome Welcome To...
    h1#theOne LearnEd

  h3 Our goal is to teach you.
  | We have teachers and students working together,
  | around the clock, to bring reliable information at your fingertips!
  | Wether you're just getting started, or in need of a little brushing up,
  | this is the place for you!
