
form.well.well-lg#createCourse(method='post', action='/courses/create')
    input#courseName(type='text', placeholder='Course Title', name = 'title', autofocus= true)
    textarea#text(class='well well-sm', placeholder='Course Description', name='description')
    button#addCourse Submit
