extends ../shared/template
block content

  h1 Flashcards

  #input.well
    textarea.well(type='text', name='sideA', placeholder='Side A')
    textarea.well(type='text', name='sideB', placeholder='Side B')
    button#submitFlashcard Submit




  #cards





block scripts
