extends ../shared/template
block content

  h1 Flashcards

  #input.well
    textarea.well.sideA(type='text', name='sideA', placeholder='Side A')
    textarea.well.sideB(type='text', name='sideB', placeholder='Side B')
    input.course(type='hidden', name='courseId', value= '#{courseId}')
    button#submit Submit




  #cards

block scripts
    script(src='/js/es6/compiled/flashCards.js')