extends ../shared/template
block content
	table#courseTable.table-bordered
		thead
			tr
				th#title Course Title
				th Course Description
		tbody
			each course in courses
				tr
					td
						a(href='/courses/show/#{course._id.toString()}')= course.title
					td
						div= course.description
						button#bookmark(data-id= course._id.toString()).bookmark Bookmark Course

block scripts
	script(src='/js/es6/compiled/courseIndex.js')
