extends ../shared/template

block content
  h1 course.title

  h3 course.description


  #flashContainer.well.well-sm
    #flashCards
    button#addFlashCard(href='#') Add
    //                    snippet

  #testContainer.well.well-sm
    #test
    button#addTest(href='#') Add
    //                    snippet


block scripts
  script(src='/js/es6/compiled/course.js')
