extends ../shared/template

block content
  h1= course.title

  h3= course.description


  #flashContainer.well.well-sm
    #flashCards
    button#addFlashCard(href='#') Add Flashcard
    //                    snippet

  #testContainer.well.well-sm
    #test
    button#addTest(href='#') Add Test
    //                    snippet


block scripts
  script(src='/js/es6/compiled/course.js')
