table#courseTable.table.table-bordered
	thead.well.well-sm
		th Course Title
		th Course Description
		th Current Score
	tbody
		each course in courses
			tr.well.well-sm
				td#title
					a(href='/courses/show/#{course.id}')= course.title
				td
					p= course.description
				td#score
					span= course.score
