extends ../../shared/template
block content

  h1 Good Luck!
  input.course(type='hidden', value=courseId.toString(), name='courseId')
  #questionList.well.well-lg

block scripts
    script(src='/js/es6/compiled/tests.js')



    //testTable going into questionList
